{% extends 'base/main.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <h1>Contact Me</h1>

        {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
{% endblock %}
