{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<section class="hero">
	<div class="hero-content">
		<div class="hero-content-intro">
			<img id="profile_pic" src="{% static 'images/nam.png' %}">
			<h1 class="intro-name">Nam <br> Mai</h1>
		</div>

		<div class="hero-content-subheadline">
			<h3 class="description">Software Developer</h3>
			<p class="slogan">based in San Jose, CA</p>
			<div class="social-container">
				<span><a target="_blank" rel="noopener noreferrer" href="https://github.com/namnmai"><img class="social-pic" src="{% static 'images/github-mark-white.png' %}"></a></span>
				<span><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/namnmai/"><img class="social-pic" src="{% static 'images/linked-in-logo.png' %}"></a></span>
			</div>
		</div>	
	</div>
</section>

<section class="container section-2">
	<h3>My Projects</h3>
	<div class="projects-wrapper">
		{% for project in projects %}
		<div class="project-column">
			<a href="{% url 'project' project.id %}">
			<img class="project-thumbnail" src="{{project.thumbnail.url}}">
			</a>
			<div class="project-body">
				<h5>{{project.title}}</h5>
			</div>
		</div>
		{% empty %}
			<h3>There are no projects in the database...</h3>
		{% endfor %}

	</div>

	<div class="about-wrapper">
		<h3>My Background</h3>
		<p>My first exposure to coding was at 8, when I got my first computer. I tinkered with the developer console in games like Half-Life and CS 1.6, and made simple modification to game files to increase bot difficulty and customize character attributes.</p>
		<p>It wasn't until much later, during my chemistry undergrad, that I learned how coding could be used for far more practical appplications, such as data analysis and visualization.</p>
		<p>I made the decision to continue a second degree in Computer Science to solidify my programming knowledge so that I can transition into more software-oriented roles. My focus is general software development however I would like to learn more about machine learning and data science.</p>
		<p>I recently built a compound interest calculator web application that lets users punch in their investment details and provide them with a theoretical model of their money can grow over time. This was my first project focusing on data visualization and I'm looking forward to doing more of that. For my next project I want to tackle another data analysis/visualization problem but making use of AI/LLM models.</p>
	</div>

</section>

<section class="section-1">
	<div class="skills-container">
		<h3>My Skills</h3>

		{% for skill in detailed_skills %}
		<div class="skills-wrapper">
			{% if skill.logo %}
			<img class="skill-logo" src="{{skill.logo.url}}">
			{% endif %}
			<div>
				<h5>{{skill.title}}</h5>
				<p>{{skill.body}}</p>
			</div>

		</div>
		{% endfor %}

		<h4>Other Skills</h4>
		<div class="other-skills-wrapper">
			{% for skill in skills %}
			<div class="skill-tag">
				<span>{{skill.title}}</span>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<section class="section-2">
	<div class="container">
		<form class="contact-form" method="POST">
			{% csrf_token %}
			
			{% for field in form %}
			
			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">{{field.label}}</label>
				{{field}}
			</div>

			{% endfor %}

			<input class="btn btn-primary" type="submit" value="submit">

		</form>
	</div>
</section>

{% endblock content %}